<div class="col-md-12" ng-controller="TerminalCtrl" id="Terminal" style="margin-bottom: 1em">
    <div class="row"ng-repeat="(dindex,groupList) in deviceList">
        GRUPPE: {{dindex+1}}
        <ul style="padding-left: 0px" class="icon-list-zaehler2" ng-repeat="deviceList in groupList" >
            <li class="col-md-2 col-sm-2 col-xs-2" style="padding: 3px 3px 3px 3px"
                ng-repeat="(tindex, device) in deviceList">
                <div class="terminallist" ng-click="adminview(device)">
                    <div ng-class="{'on': true == device.power, 'off': true != device.power}"
                         ng-click="selectRow(tindex,dindex)"  style="height: 4em">
                        <div ng-class="{
                            'error': device.error_code > 0,'warning': device.service_code}"
                             ng-show="device.error_code > 0 || device.service_code > 0"
                             style="position: absolute; left: 0.0em; top: 0.0em; height: 100%;width: 40%;"></div>
                        <div style="position: absolute; right: 0.4em; color: whitesmoke">{{device.powerOn_hours}}h</div>
                        <div ng-show="device.error_code > 0" style="position: absolute; left: 0.4em; bottom: 0.4em; color: whitesmoke">Error: {{device.error_code}}</div>

                        <div ng-show="device.service_code > 0" style="position: absolute; left: 0.4em; bottom: 0.6em; color: whitesmoke">Service: {{device.service_code}}</div>
                        <div style="position: absolute; right: 2em; bottom: 0.4em; color: whitesmoke">UV:</div>
                        <img ng-src="{{icon.uv[device.uv]}}"
                             style="position: absolute; right: 0.2em; bottom: 0.2em; ">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- admin abfragen kommen erst nach reload nachdem man sich eingeloggt hat -->