<div class="col-md-12" ng-controller="TerminalCtrl" id="Terminal" style="margin-bottom: 1em">
    <div id="row{{$index}}" class="row" ng-repeat="(dindex,groupList) in deviceList track by $index" ng-show="$index == _counter">
        <div class="container-fluid col-sm-offset-2">
        <ul style="padding-left: 0px" class="icon-list-zaehler2" ng-repeat="deviceList in groupList">
            <li class="col-sm-3 col-xs-6" style="padding: 3px 3px 3px 3px"
                ng-repeat="(tindex, device) in deviceList">
                <div class="terminallist">
                    <div style="height: 14em" class="background">
                        <div style="position: absolute; left: 0.4em;">Lampenwechsel in:</div>
                        <div style="position: absolute; right: 0.4em;">{{device.powerOn_hours}}h</div>
                        <div style="position: relative; top: 2em; width: auto; padding-left: 0.4em; padding-right: 0.4em">
                            <button ng-hide="isLoggedIn();" style="width: 100%;height: 5em" ng-class="{'onPower': true == device.power, 'off': true != device.power}"
                                    ng-click="switchPower(tindex,dindex)">I/O</button>
                            <button ng-show="isLoggedIn()" style="width: 100%;height: 5em" ng-class="{'onPower': true == device.power, 'off': true != device.power}"
                                    ng-click="adminview(device)">Konfiguration</button>
                            <button style="width: 100%;height: 2em; margin-top: 0.5em;" ng-class="{'onUv': true == device.uv, 'off': true != device.uv}">UV</button>
                            <div style="margin-top: 0.5em;">
                                <button style="width: 100%;height: 2em; margin-top: 0.5em;" ng-class="{'warning': device.service_code != '', 'error': device.error_state == true}" ng-click="errorview(device)">{{device.error_display || device.service_code}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        </div>
        <div class="text-center">
            <button style="width: 4.5em; height: 3em" ng-click="go($index - 1);">Zurück</button>
            GRUPPE: {{dindex+1}} von {{deviceList.length}}
            <button style="width: 4.5em; height: 3em" ng-click="go($index + 1)">Vor</button>
        </div>
    </div>
</div>

<!-- admin abfragen kommen erst nach reload nachdem man sich eingeloggt hat -->